.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh; /* Prevenir que el contenedor crezca más allá de la pantalla */
  background-color: #121212;
  color: #fff;
  overflow: hidden; /* Clave para el layout de 100vh */
}

.app-body {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

/* En pantallas pequeñas, el cuerpo de la app ocupa todo el espacio y el player se superpone al final */
@media (max-width: 768px) {
    .app-body {
        flex-direction: column;
    }
}