.sidebar {
  background-color: #000;
  color: #fff;
  width: 240px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
}

.playlists h3 {
  color: var(--secondary-text-color);
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.playlists ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playlists li {
  padding: 8px 0;
  cursor: pointer;
  transition: color 0.2s;
  white-space: nowrap; /* Evita que el texto se rompa */
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlists li:hover,
.playlists li.active {
  color: var(--primary-text-color);
}

/* --- Responsive --- */

/* Vista Tablet: Sidebar más pequeño */
@media (max-width: 1024px) {
    .sidebar {
        width: 80px;
    }
    .playlists h3 {
        /* Opcional: Ocultar títulos o abreviar */
        font-size: 0.7rem;
    }
    .playlists li {
        /* Opcional: Mostrar solo íconos si los hubiera */
        text-overflow: ellipsis;
    }
}

/* Vista Móvil: Sidebar oculto */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
