/* Estilos para el componente Player */
.player {
  background-color: #181818;
  color: #fff;
  padding: 0 24px;
  border-top: 1px solid #282828;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  height: 90px;
  box-sizing: border-box;
}

.player-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
}

/* Info de la canción a la izquierda */
.song-info {
    justify-self: start;
}
.song-info p {
  margin: 0;
  font-weight: bold;
}
.song-info span {
  font-size: 0.8rem;
  color: var(--secondary-text-color);
}

/* Controles centrales */
.player-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.player-controls {
    display: flex;
    align-items: center;
    gap: 16px;
}

.control-button, .play-pause-button {
    background: none;
    border: none;
    color: var(--secondary-text-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s;
}

.control-button:hover, .play-pause-button:hover {
    color: var(--primary-text-color);
}

.play-pause-button {
    font-size: 2rem;
    background-color: var(--primary-text-color);
    color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-pause-button:hover {
    transform: scale(1.05);
    background-color: var(--green);
    color: #fff;
}

/* Barra de progreso */
.progress-bar-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    color: var(--secondary-text-color);
    font-size: 0.8rem;
}

.progress-bar {
    flex-grow: 1;
}

/* Controles de volumen a la derecha */
.volume-controls {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Estilos para los sliders (barra de progreso y volumen) */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #4D4D4D;
    height: 4px;
    border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -4px; /* Centrar el thumb */
    background-color: #fff;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

input[type="range"]:hover::-webkit-slider-runnable-track {
    background: var(--green);
}

.volume-slider {
    width: 100px;
}
