.player {
  background-color: #181818;
  color: #fff;
  padding: 0 16px;
  border-top: 1px solid #282828;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  height: 90px;
  box-sizing: border-box;
  gap: 16px;
}

.player-placeholder {
    grid-column: 1 / -1; /* Ocupa todo el espacio si no hay canción */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
}

.song-info {
    justify-self: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.song-info p { margin: 0; font-weight: bold; }
.song-info span { font-size: 0.8rem; color: var(--secondary-text-color); }

.player-center { display: flex; flex-direction: column; align-items: center; gap: 8px; min-width: 250px; }
.player-controls { display: flex; align-items: center; gap: 16px; }

.control-button, .play-pause-button { background: none; border: none; color: var(--secondary-text-color); font-size: 1.5rem; cursor: pointer; transition: all 0.2s; }
.control-button:hover, .play-pause-button:hover { color: var(--primary-text-color); }

.play-pause-button { font-size: 2rem; background-color: var(--primary-text-color); color: #000; border-radius: 50%; width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; }
.play-pause-button:hover { transform: scale(1.05); background-color: var(--green); color: #fff; }

.progress-bar-container { display: flex; align-items: center; gap: 8px; width: 100%; color: var(--secondary-text-color); font-size: 0.8rem; }
.progress-bar { flex-grow: 1; }

.volume-controls { justify-self: end; display: flex; align-items: center; gap: 8px; }

input[type="range"] { -webkit-appearance: none; appearance: none; background: transparent; cursor: pointer; }
input[type="range"]::-webkit-slider-runnable-track { background: #4D4D4D; height: 4px; border-radius: 4px; }
input[type="range"]::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; margin-top: -4px; background-color: #fff; height: 12px; width: 12px; border-radius: 50%; }
input[type="range"]:hover::-webkit-slider-runnable-track { background: var(--green); }

.volume-slider { width: 100px; }

/* --- Responsive --- */
@media (max-width: 768px) {
    .player {
        grid-template-columns: 1fr auto; /* Info de la canción y controles */
        padding: 0 8px;
        height: auto;
        padding-bottom: 10px; /* Espacio para el safe area de iOS */
    }
    .player-center {
        grid-column: 1 / -1; /* Ocupa todo el ancho */
        order: 2; /* Se mueve debajo de la info */
        min-width: unset;
        width: 100%;
    }
    .song-info {
        grid-column: 1 / 2;
        order: 1;
        padding: 10px 0;
    }
    .player-controls {
        order: 2;
    }
    .volume-controls {
        display: none; /* Ocultar control de volumen en móvil */
    }
    .play-pause-button { width: 48px; height: 48px; }
}