/* Estilos globales y reseteo */
:root {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #B3B3B3;
  --background-base: #121212;
  --background-highlight: #1A1A1A;
  --background-press: #000000;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2A2A2A;
  --background-tinted-base: rgba(255, 255, 255, 0.07);
  --green: #1DB954;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background-press);
  color: var(--primary-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Ocultar barras de scroll en webkit (Chrome, Safari) pero permitir scroll */
body::-webkit-scrollbar {
    display: none;
}
