.main-content {
  padding: 16px;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.main-content h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.songs-table {
  width: 100%;
  border-collapse: collapse;
}

.songs-table th,
.songs-table td {
  text-align: left;
  padding: 12px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  vertical-align: middle;
}

.songs-table th {
  color: var(--secondary-text-color);
  font-size: 0.8rem;
}

.songs-table tbody tr:hover {
  background-color: var(--background-highlight);
}

.songs-table tbody tr.active-song {
  background-color: var(--background-tinted-base);
  color: var(--green);
}

.play-button {
  background: none;
  border: none;
  color: var(--primary-text-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.like-button {
  background: none;
  border: none;
  color: var(--secondary-text-color);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.like-button.liked {
  color: var(--green);
}

.like-button:hover {
  transform: scale(1.2);
}

.options-button {
  background: none;
  border: none;
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 1;
}

.options-menu-container {
  position: relative;
}

.songs-table .play-col,
.songs-table .like-col,
.songs-table .menu-col {
  width: 50px;
  text-align: center;
}

.artist-image-mobile-container {
    display: none; /* Oculto por defecto */
    margin-top: 20px; /* Espacio entre tabla y imagen */
    padding: 16px;
    text-align: center;
    flex-shrink: 0; /* Evita que se encoja */
}

.artist-image-mobile-container img {
    width: 100%;
    max-width: 200px; /* Limitar tama침o en m칩vil */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4); /* Sombra m치s suave */
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .main-content {
    padding: 16px;
  }
  .songs-table .duration-col {
    display: none;
  }
  .songs-table th,
  .songs-table td {
    padding: 10px 5px;
  }
  .artist-image-mobile-container {
      display: block; /* Mostrar en m칩vil */
  }
}

@media (max-width: 480px) {
  .main-content h2 {
    font-size: 1.2rem;
  }
  .songs-table .artist-col {
    display: none;
  }
}